<!-- Subscribe form and footer links -->
<div class="row mt-5 pt-3">
  <div class="col-xl-6 col-lg-12 mb-4">
    <div class="tm-bg-gray p-5 h-100">
      <h3 class="tm-text-primary mb-3">Do you want to get our latest updates?</h3>
      <p class="mb-5">Please subscribe our newsletter for upcoming new videos and latest information about our
        work. Thank you.</p>

      <form class="" action="/subscribe" method="post">
        <label for="userEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="userEmail" name="userEmail" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        <button type="submit" class="btn btn-success">Subscribe</button>
      </form>

    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
    <div class="p-5 tm-bg-gray">
      <h3 class="tm-text-primary mb-4" id="quick-links">Quick Links</h3>
      <ul class="list-unstyled tm-footer-links">
        <li><a href="https://www.linkedin.com/in/coskunatak/">LinkedIn</a></li>
        <li><a href="https://github.com/Coskntkk">GitHub</a></li>
        <li><a href="https://www.hackerrank.com/coskntkk">HackerRank</a></li>
        <li><a href="https://stackoverflow.com/users/16814829/co%c5%9fkun">Stack Overflow</a></li>
        <li><a href="https://twitter.com/dimaetor">Twitter</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
    <div class="p-5 tm-bg-gray h-100">
      <h3 class="tm-text-primary mb-4">Our Pages</h3>
      <ul class="list-unstyled tm-footer-links">
        <li><a href="#">Our Videos</a></li>
        <li><a href="#">License Terms</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="#quick-links">Contact</a></li>
        <li><a href="#">Privacy Policies</a></li>
      </ul>
    </div>
  </div>
</div> <!-- row -->

<footer class="row pt-5">
  <div class="col-12">
    <p class="text-right">Copyright 2020 The Video Catalog Company

      - Designed by <a href="https://templatemo.com" rel="nofollow" target="_parent">TemplateMo</a></p>
  </div>
</footer>
